body{
    font-family: 'Source Code Pro', monospace;
    overflow-x:hidden;
}

section{
    padding-bottom: 5em;
}

h1{
    font-size:3em;
    padding: 2em 0 0.7em;  
}

#about p{
    font-size:1.2em;
}
h2{
    font-weight:bold;
    text-align:center;
    padding: 1em;
    color:#393d47;
    text-shadow: 1px 1px #51555a8a;
}


#home{
    background-color:#393d47;
    height:60vh;
    color: #ffff;
    text-align: center;
}

#portfolio{
    color: #681638;
    background-color:#F6F6F6;
    padding: 0 10% 5em;   
}

#skill{
    background-color:#ffff; 
}

.skill-list{
    list-style: none;
    text-align: center;
}

.skill-list-item{
    display:inline-block;
    padding: 0 1em;
    margin: 5px;
    height: 36px;
    line-height: 36px;
    border-radius: 18px;
    color: #fff;
    background: rgb(63, 126, 120);
    font-weight:bolder;
    font-size: 0.9em;
     
}

#contact-section{
    background-color:#343a40;
    color: #fff;
}

#contact{
    margin:auto;
}

#contact-section h2{
    color:#fff;
}

.projects-wrapper{   
    width:100%;
    overflow: hidden; 
}


.project{
    width:100%;
    text-align:center;
    float: left;
    margin-bottom: 15px;
    padding:1em;
    position:relative;
    cursor:pointer;
}

.project-img{
    width:100%;
    object-fit: cover;
    height: 200px;
    display:inline-block;
    border: solid 1px white;
    -webkit-box-shadow: 0px 1px 16px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 16px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 16px 2px rgba(0,0,0,0.75);    
}

.project img {
    -webkit-filter: brightness(100%);
    width:100%;
}

.project-title{
    position:absolute;
    left: 0; 
    right: 0;
    top: 45%;
    margin-left: auto; 
    margin-right: auto; 
    width: 80px;
    color:#fff;
    font-weight:bolder;
    visibility:hidden;
    opacity:0;
    transition:visibility 0.5s linear,opacity 0.5s linear;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.project:hover .project-title{
    visibility:visible;
    opacity:1;
}

.project:hover img {
    -webkit-filter: brightness(50%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}


.carousel-item img {
    margin-top:2em;
    object-fit: cover;
    height: 300px;
  }

.title{
    background-color:#393d47;
    color:white;
    text-align:center;
    padding:2em;
    text-transform: uppercase; 
}

.my-name{
    color:rgb(233, 189, 139);
    font-weight:bolder;
}

.job{
    color:rgb(70, 211, 176);
    font-weight:bolder;
}

.description p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:1.1em;
}






@media screen and (min-width: 768px) {
    .project {
      max-width: 50%;
    }

    .carousel{
        padding-top:7%;
    }
}


@media screen and (min-width: 992px) {
    .project {
      max-width: 33%;
    }
}